#It's better to run this ipynb file after "report to PFD.ipynb", because a lot of files are from there

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
mortality = pd.read_csv('/content/en_wa_pfd_pop.csv')

In [ ]:
mortality['England PFD/population (100,000)'] = mortality['England PFD']/mortality['England population']*100000
mortality['Wales PFD/population (100,000)'] = mortality['Wales PFD']/mortality['Wales population']*100000

In [ ]:
print(mortality['England PFD/population (100,000)'].mean())

0.7707498263890803

In [ ]:
print(mortality['Wales PFD/population (100,000)'].mean())

0.6634169226694278

In [ ]:
display(mortality)

,Unnamed: 0,Years,England PFD,England population,Wales PFD,Wales population,England preventable mortality,Wales preventable mortality,England preventable deaths,Wales preventable deaths,England PFD ratio,Wales PFD ratio,"England PFD/population (100,000)","Wales PFD/population (100,000)"
0,0,2014,542,54316600,25,3092000,147.6,162.0,80171.3016,5009.0400,6.760524,4.990976,0.997853,0.808538
1,1,2015,408,54786300,26,3099100,146.7,169.7,80371.5021,5259.1727,5.076426,4.943743,0.744712,0.838953
2,2,2016,450,55268100,22,3113200,145.8,173.5,80580.8898,5401.4020,5.584451,4.073017,0.814213,0.706668
3,3,2017,417,55619400,23,3125200,142.7,167.5,79368.8838,5234.7100,5.253948,4.393749,0.749738,0.735953
4,4,2018,375,55977200,12,3138600,143.5,168.7,80327.2820,5294.8182,4.668401,2.266367,0.669916,0.382336
5,5,2019,501,56287000,25,3152900,140.6,162.7,79139.5220,5129.7683,6.330592,4.873514,0.890081,0.792921
6,6,2020,299,56550000,12,3170000,175.4,189.8,99188.7000,6016.6600,3.014456,1.994462,0.528736,0.378549

In [ ]:
mor = mortality[['England preventable deaths', 'Wales preventable deaths']]

In [ ]:
report = pd.read_csv('/content/report_per_deaths_eng_wa.csv')

In [ ]:
display(report)

,Unnamed: 0,Year,Wales Population,Wales reported deaths,England Population,England reported deaths,Wales report/1000,England report/1000
0,0,2014,3092000,14200,54316600,209641,4.592497,3.859612
1,1,2015,3099100,14232,54786300,222174,4.592301,4.055284
2,2,2016,3113200,14302,55268100,226909,4.593987,4.105605
3,3,2017,3125200,14317,55619400,215469,4.581147,3.873990
4,4,2018,3138600,13891,55977200,206757,4.425859,3.693593
5,5,2019,3152900,13306,56287000,197606,4.220242,3.510686
6,6,2020,3170000,13422,56550000,192016,4.234069,3.395508

In [ ]:
mor['Wales reported deaths'] = report['Wales reported deaths']
mor['England reported deaths'] = report['England reported deaths']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
mor['Wales reported/deaths'] = mor['Wales reported deaths']/mor['Wales preventable deaths']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#ONS publish this data year by year. Fastest method is actually just to open up the 7 years of data and copy-paste

In [ ]:
deaths = pd.read_excel('/content/England and Wales mortality.xlsx', index_col = 0)

In [ ]:
england = pd.DataFrame()
england_wales = pd.DataFrame()
for i in deaths.index: 
  if round(i) != i: 
    england_wales = england_wales.append(deaths.loc[i, :])
  else: 
    england = england.append(deaths.loc[i, :])

In [ ]:
years = {}
for i in range(2020, 2013, -1): 
  years[i+0.5]=i

In [ ]:
england_wales.rename(index = years, inplace = True)

In [ ]:
england = england.astype(int)
england_wales = england_wales.astype(int)

In [ ]:
england['England mortality'] = england.sum(axis = 1)
england_wales['England Wales mortality'] = england_wales.sum(axis = 1)

In [ ]:
england.reset_index(inplace = True)
england_wales.reset_index(inplace = True)
england.rename(columns = {'index': 'Year'}, inplace = True)
england_wales.rename(columns = {'index': 'Year'}, inplace = True)

In [ ]:
england = england[['Year', 'England mortality']]
england_wales = england_wales[['Year', 'England Wales mortality']]

In [ ]:
england['Year'] = england['Year'].astype(int)

In [ ]:
england_wales['England mortality'] = england['England mortality']
england_wales['Wales mortality'] = england_wales['England Wales mortality'] - england_wales['England mortality']

In [ ]:
england_wales.sort_values(ascending = True, by = 'Year', inplace = True)

In [ ]:
england_wales['England reported deaths'] = mor['England reported deaths']
england_wales['Wales reported deaths'] = mor['Wales reported deaths']

In [ ]:
england_wales['England report/mortality'] = england_wales['England reported deaths']/england_wales['England mortality']
england_wales['Wales report/mortality'] = england_wales['Wales reported deaths']/england_wales['Wales mortality']

In [ ]:
england_wales['Wales Population'] = report['Wales Population']
england_wales['England Population'] = report['England Population']

In [ ]:
england_wales['England mortality rate'] = england_wales['England mortality']/england_wales['England Population']
england_wales['Wales mortality rate'] = england_wales['Wales mortality']/england_wales['Wales Population']

# Preventable deaths/reported deaths

In [ ]:
print(mortality.columns)

Index(['Unnamed: 0', 'Years', 'England PFD', 'England population', 'Wales PFD',
       'Wales population', 'England preventable mortality',
       'Wales preventable mortality', 'England preventable deaths',
       'Wales preventable deaths', 'England PFD ratio', 'Wales PFD ratio',
       'England PFD/population (100,000)', 'Wales PFD/population (100,000)'],
      dtype='object')

In [ ]:
england_wales['England preventable deaths'] = mortality['England preventable deaths']
england_wales['Wales preventable deaths'] = mortality['Wales preventable deaths']

In [ ]:
england_wales['England preventable/deaths'] =england_wales['England preventable deaths']/england_wales['England mortality']
england_wales['Wales preventable/deaths'] =england_wales['Wales preventable deaths']/england_wales['Wales mortality']

In [ ]:
england_wales.rename(columns = {'England Wales mortality': 'England Wales deaths', 'England mortality': 'England deaths', 'Wales mortality': 'Wales deaths'}, inplace = True)

In [ ]:
display(england_wales)

,Year,England Wales deaths,England deaths,Wales deaths,England reported deaths,Wales reported deaths,England report/mortality,Wales report/mortality,Wales Population,England Population,England mortality rate,Wales mortality rate,England preventable deaths,Wales preventable deaths,England preventable/deaths,Wales preventable/deaths
6,2014,500314,468875,31439,192016,13422,0.409525,0.426922,3170000,56550000,0.008291,0.009918,99188.7000,6016.6600,0.211546,0.191376
5,2015,528507,495309,33198,197606,13306,0.398955,0.400807,3152900,56287000,0.008800,0.010529,79139.5220,5129.7683,0.159778,0.154520
4,2016,523857,490791,33066,206757,13891,0.421273,0.420099,3138600,55977200,0.008768,0.010535,80327.2820,5294.8182,0.163669,0.160129
3,2017,532130,498882,33248,215469,14317,0.431904,0.430612,3125200,55619400,0.008970,0.010639,79368.8838,5234.7100,0.159094,0.157444
2,2018,540265,505859,34406,226909,14302,0.448562,0.415683,3113200,55268100,0.009153,0.011052,80580.8898,5401.4020,0.159295,0.156990
1,2019,529553,496370,33183,222174,14232,0.447598,0.428894,3099100,54786300,0.009060,0.010707,80371.5021,5259.1727,0.161919,0.158490
0,2020,607099,569700,37399,209641,14200,0.367985,0.379689,3092000,54316600,0.010489,0.012095,80171.3016,5009.0400,0.140725,0.133935

In [ ]:
england_wales['England Wales reported deaths'] = england_wales['England reported deaths'] + england_wales['Wales reported deaths']

In [ ]:
print(england_wales['England Wales reported deaths'].sum()/england_wales['England Wales deaths'].sum())

0.41689437691484627

In [ ]:
print(england_wales['England report/mortality'].mean())
print(england_wales['Wales report/mortality'].mean())

0.41797155448904016
0.4146725339364349

In [ ]:
print(england_wales['England mortality rate'].mean())
print(england_wales['Wales mortality rate'].mean())

0.009075677372067572
0.010782189975441368

In [ ]:
england_wales['England Wales population'] = england_wales['England Population'] + england_wales['Wales Population']

In [ ]:
print(england_wales['England Wales deaths'].sum()/england_wales['England Wales population'].sum())

0.009159399321541308

In [ ]:
print(england_wales['England preventable/deaths'].mean())
print(england_wales['Wales preventable/deaths'].mean())

0.16514655919518503
0.15898349125815386

In [ ]:
england_wales['England Wales preventable deaths'] = england_wales['England preventable deaths'] + england_wales['Wales preventable deaths']

In [ ]:
print(england_wales['England Wales preventable deaths'].sum()/england_wales['England Wales deaths'].sum())

0.1638858907814899

In [ ]:
england_wales['England preventable/population'] = england_wales['England preventable deaths']/england_wales['England Population']
england_wales['Wales preventable/population'] = england_wales['Wales preventable deaths']/england_wales['Wales Population']

In [ ]:
print(england_wales['England preventable/population'].mean())
print(england_wales['Wales preventable/population'].mean())

0.001489
0.001705571428571429

In [ ]:
england_wales['preventable'] = england_wales['England preventable deaths'] + england_wales['Wales preventable deaths']
print(england_wales['preventable'].mean()/england_wales['England Wales population'].mean())

0.0015010963168341713

In [ ]:
display(england_wales)

,Year,England Wales deaths,England deaths,Wales deaths,England reported deaths,Wales reported deaths,England report/mortality,Wales report/mortality,Wales Population,England Population,...,England preventable/deaths,Wales preventable/deaths,England Wales reported deaths,England Wales population,England Wales preventable deaths,England preventable/population,Wales preventable/population,preventable,England report/preventable,Wales report/preventable
6,2014,500314,468875,31439,192016,13422,0.409525,0.426922,3170000,56550000,...,0.211546,0.191376,205438,59720000,105205.3600,0.001754,0.001898,105205.3600,1.935866,2.230806
5,2015,528507,495309,33198,197606,13306,0.398955,0.400807,3152900,56287000,...,0.159778,0.154520,210912,59439900,84269.2903,0.001406,0.001627,84269.2903,2.496932,2.593879
4,2016,523857,490791,33066,206757,13891,0.421273,0.420099,3138600,55977200,...,0.163669,0.160129,220648,59115800,85622.1002,0.001435,0.001687,85622.1002,2.573932,2.623508
3,2017,532130,498882,33248,215469,14317,0.431904,0.430612,3125200,55619400,...,0.159094,0.157444,229786,58744600,84603.5938,0.001427,0.001675,84603.5938,2.714779,2.735013
2,2018,540265,505859,34406,226909,14302,0.448562,0.415683,3113200,55268100,...,0.159295,0.156990,241211,58381300,85982.2918,0.001458,0.001735,85982.2918,2.815916,2.647831
1,2019,529553,496370,33183,222174,14232,0.447598,0.428894,3099100,54786300,...,0.161919,0.158490,236406,57885400,85630.6748,0.001467,0.001697,85630.6748,2.764338,2.706129
0,2020,607099,569700,37399,209641,14200,0.367985,0.379689,3092000,54316600,...,0.140725,0.133935,223841,57408600,85180.3416,0.001476,0.001620,85180.3416,2.614913,2.834875

In [ ]:
england_wales['England report/preventable'] = england_wales['England report/mortality']/england_wales['England preventable/deaths']
england_wales['Wales report/preventable'] = england_wales['Wales report/mortality']/england_wales['Wales preventable/deaths']

In [ ]:
print(england_wales['England report/preventable'].mean())
print(england_wales['Wales report/preventable'].mean())

2.5595252065945298
2.6245773147820164

In [ ]:
display(england_wales.columns)

Index(['Year', 'England Wales deaths', 'England deaths', 'Wales deaths',
       'England reported deaths', 'Wales reported deaths',
       'England report/mortality', 'Wales report/mortality',
       'Wales Population', 'England Population', 'England mortality rate',
       'Wales mortality rate', 'England preventable deaths',
       'Wales preventable deaths', 'England preventable/deaths',
       'Wales preventable/deaths', 'England Wales reported deaths',
       'England Wales population', 'England Wales preventable deaths',
       'England preventable/population', 'Wales preventable/population',
       'preventable', 'England report/preventable',
       'Wales report/preventable'],
      dtype='object')

In [ ]:
england_wales.to_csv('deaths_preventable_report.csv')